In [7]:
import numpy as np
import utils
import pandas as pd
from pathlib import Path
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
np.random.seed(1337)

In [8]:
from sklearn.model_selection import train_test_split

def splitter(data, response="score_factor"):
    x = data.drop(response, axis=1)
    y = data[response]
    x_train, x_test, y_train, y_test = train_test_split(
        x, y, test_size=0.33)
    x_train[response] = y_train
    x_test[response] = y_test
    return {"train": x_train, "test": x_test}


def load_compas_alt():
    #Consider using Haewon's version, seems better
    cols = ["gender_factor", "age_factor", "race_factor",
            "priors_count", "crime_factor", "two_year_recid"] # , "score_factor"]
    new_df = pd.read_csv("./formatted_recid.csv", usecols=cols)
    new_df["is_Caucasian"] = new_df["race_factor"].apply(
        lambda x: 1 if x == "Caucasian" else 0)
    #new_df["score_factor"] = new_df["score_factor"].apply(
    #    lambda x: 0 if x == "LowScore" else 1)
    new_df["gender_factor"] = new_df["gender_factor"].apply(
        lambda x: 1 if x == "Male" else 0)
    new_df["crime_factor"] = new_df["crime_factor"].apply(
        lambda x: 0 if x == "F" else 1)
    
    #Discretising priors count
    #new_df["priors_count"] = new_df["priors_count"].apply(lambda x: 1 if x>0 else 0)
    #Flipping the variable so that 1 is the good outcome
    new_df["two_year_recid"] = new_df["two_year_recid"].apply(
        lambda x: 0 if x == 1 else 1)
    new_df = new_df.drop("race_factor", axis=1)
    new_df = pd.get_dummies(new_df,
                            columns=["age_factor"],
                            drop_first=True)
    return splitter(new_df, response = "two_year_recid")

In [ ]:
def sig(x, alpha):
    z = np.exp(-x+alpha)
    sig = 1 / (1 + z)
    return sig

def sigmoid(x,alpha):
    return np.random.binomial(1,sig(x,alpha), 1)

In [23]:
np.random.seed(1337)
a = load_compas_alt()["train"]
np.random.seed(1337)
b = load_compas_alt()["train"]

In [24]:
a.head()

,priors_count,crime_factor,gender_factor,is_Caucasian,age_factor_Greater than 45,age_factor_Less than 25,two_year_recid
5811,0,0,1,1,0,0,1
1963,0,0,0,0,0,1,1
1662,3,1,1,0,0,0,1
2003,2,0,1,0,0,0,1
5808,0,1,1,1,0,0,0

In [25]:
b.head()

,priors_count,crime_factor,gender_factor,is_Caucasian,age_factor_Greater than 45,age_factor_Less than 25,two_year_recid
5811,0,0,1,1,0,0,1
1963,0,0,0,0,0,1,1
1662,3,1,1,0,0,0,1
2003,2,0,1,0,0,0,1
5808,0,1,1,1,0,0,0

In [26]:
a==b

,priors_count,crime_factor,gender_factor,is_Caucasian,age_factor_Greater than 45,age_factor_Less than 25,two_year_recid
5811,True,True,True,True,True,True,True
1963,True,True,True,True,True,True,True
1662,True,True,True,True,True,True,True
2003,True,True,True,True,True,True,True
5808,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...
3239,True,True,True,True,True,True,True
1256,True,True,True,True,True,True,True
860,True,True,True,True,True,True,True
189,True,True,True,True,True,True,True
3223,True,True,True,True,True,True,True

In [47]:
size = 6000
priors_count = np.random.binomial(1,0.6657, size = size )
#two_year_recid = np.random.binomial(1, (1-0.455), size=size)
is_Caucasian = np.random.binomial(1, 0.34, size=size)
crime_factor = np.random.binomial(1, 0.3567, size=size)
age_greater_than_45 = np.random.binomial(1, 0.209, size=size)
age_less_than_25 = np.random.binomial(1, 0.218, size=size)
sex_male = np.random.binomial(1, 0.809, size=size)
two_year_recid = np.around(sigmoid((priors_count+is_Caucasian+crime_factor +
                        age_greater_than_45+age_less_than_25+sex_male), alpha=2.6)).astype(int)
synth_cat = pd.DataFrame({"priors_count": priors_count, "two_year_recid": two_year_recid,
                            "is_Caucasian": is_Caucasian, "crime_factor": crime_factor,
                            "age_factor_greater_than_45": age_greater_than_45, 
                            "age_factor_less_than_25": age_less_than_25, "gender_factor": sex_male})

In [48]:
synth_cat["two_year_recid"].mean()

0.5151666666666667

In [85]:
train = utils.load_compas_alt()["train"]
train.mean()

priors_count                  3.124305
crime_factor                  0.364450
gender_factor                 0.804837
is_Caucasian                  0.347279
age_factor_Greater than 45    0.206288
age_factor_Less than 25       0.222249
two_year_recid                0.552600
dtype: float64

In [87]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
#scaler = MinMaxScaler()
scaler = StandardScaler()
#train["priors_count"] = scaler.fit_transform(train["priors_count"])
train.iloc[:,:] = scaler.fit_transform(train.values)

In [88]:
train.head()

,priors_count,crime_factor,gender_factor,is_Caucasian,age_factor_Greater than 45,age_factor_Less than 25,two_year_recid
2801,-0.677466,-0.757258,0.492431,-0.729417,-0.509806,-0.534564,0.899793
5084,1.057234,-0.757258,0.492431,1.370958,-0.509806,1.870683,-1.111366
3607,-0.460629,-0.757258,0.492431,-0.729417,-0.509806,-0.534564,0.899793
6127,0.840396,1.320554,0.492431,-0.729417,-0.509806,-0.534564,-1.111366
4910,-0.460629,1.320554,-2.030743,1.370958,-0.509806,-0.534564,0.899793

,priors_count,two_year_recid,is_Caucasian,crime_factor,age_factor_greater_than_45,age_factor_less_than_25,gender_factor
1998,4.0,0,0,0,0,0,1
1999,4.0,0,0,0,0,0,0
2000,5.0,1,1,1,0,0,1
2001,4.0,0,0,0,0,1,0
2002,4.0,0,0,0,0,0,0

In [43]:
def sigmoid(x, alpha):
    z = np.exp(-x+alpha)
    sig = 1 / (1 + z)
    return sig

In [72]:
train = utils.load_synthetic("simple")["train"]

In [98]:
a =

In [107]:
for num in np.linspace(-4,4,200):
    print(num, ": ", np.around(sigmoid(train.drop("priors_count", axis = 1).sum(axis = 1)+a, num)).astype(int).sum()/len(train))

-4.0 :  0.9431680773881499
-3.959798994974874 :  0.9417170495767836
-3.919597989949749 :  0.939782345828295
-3.879396984924623 :  0.9373639661426844
-3.8391959798994977 :  0.9339782345828295
-3.798994974874372 :  0.9313180169286578
-3.758793969849246 :  0.9272067714631197
-3.7185929648241207 :  0.924788391777509
-3.678391959798995 :  0.920677146311971
-3.6381909547738696 :  0.9187424425634825
-3.5979899497487438 :  0.916807738814994
-3.557788944723618 :  0.9146311970979444
-3.5175879396984926 :  0.9112454655380895
-3.477386934673367 :  0.9078597339782346
-3.4371859296482414 :  0.905925030229746
-3.3969849246231156 :  0.9037484885126965
-3.35678391959799 :  0.9013301088270859
-3.3165829145728645 :  0.8989117291414752
-3.2763819095477387 :  0.8960096735187424
-3.2361809045226133 :  0.8935912938331319
-3.1959798994974875 :  0.8914147521160822
-3.1557788944723617 :  0.8885126964933494
-3.115577889447236 :  0.8846432889963725
-3.0753768844221105 :  0.8812575574365176
-3.035175879396985 :  0.8781136638452237
-2.9949748743718594 :  0.8752116082224909
-2.9547738693467336 :  0.871825876662636
-2.914572864321608 :  0.8689238210399033
-2.8743718592964824 :  0.8662636033857316
-2.834170854271357 :  0.864087061668682
-2.7939698492462313 :  0.8616686819830713
-2.7537688442211055 :  0.8585247883917775
-2.7135678391959797 :  0.8561064087061668
-2.6733668341708543 :  0.8510278113663845
-2.633165829145729 :  0.8457073760580411
-2.592964824120603 :  0.841596130592503
-2.5527638190954773 :  0.8365175332527207
-2.5125628140703515 :  0.8328899637243047
-2.472361809045226 :  0.8280532043530834
-2.4321608040201004 :  0.8253929866989117
-2.391959798994975 :  0.8193470374848851
-2.351758793969849 :  0.8135429262394196
-2.3115577889447234 :  0.8091898428053205
-2.271356783919598 :  0.8053204353083434
-2.2311557788944723 :  0.8014510278113663
-2.190954773869347 :  0.7951632406287787
-2.150753768844221 :  0.7908101571946796
-2.1105527638190953 :  0.7871825876662636
-2.07035175879397 :  0.7835550181378477
-2.030150753768844 :  0.7777509068923821
-1.9899497487437188 :  0.7741233373639661
-1.949748743718593 :  0.7702539298669892
-1.9095477386934672 :  0.7666263603385731
-1.8693467336683418 :  0.762515114873035
-1.829145728643216 :  0.7567110036275695
-1.7889447236180902 :  0.7511487303506651
-1.7487437185929648 :  0.7480048367593712
-1.708542713567839 :  0.7414752116082225
-1.6683417085427137 :  0.7361547762998791
-1.6281407035175879 :  0.7298669891172914
-1.587939698492462 :  0.7264812575574365
-1.5477386934673367 :  0.7226118500604595
-1.507537688442211 :  0.7165659008464329
-1.4673366834170856 :  0.7112454655380894
-1.4271356783919598 :  0.7047158403869408
-1.386934673366834 :  0.6984280532043531
-1.3467336683417086 :  0.6926239419588875
-1.3065326633165828 :  0.686819830713422
-1.2663316582914574 :  0.6819830713422007
-1.2261306532663316 :  0.6752116082224909
-1.1859296482412058 :  0.6708585247883918
-1.1457286432160805 :  0.6665054413542926
-1.1055276381909547 :  0.6616686819830714
-1.0653266331658293 :  0.6536880290205562
-1.0251256281407035 :  0.6471584038694075
-0.9849246231155777 :  0.641596130592503
-0.9447236180904524 :  0.6374848851269649
-0.9045226130653266 :  0.6311970979443773
-0.8643216080402008 :  0.6234582829504233
-0.8241206030150754 :  0.6147521160822249
-0.7839195979899496 :  0.6067714631197098
-0.7437185929648242 :  0.6
-0.7035175879396984 :  0.5958887545344619
-0.6633165829145726 :  0.5898428053204353
-0.6231155778894473 :  0.584764207980653
-0.5829145728643215 :  0.5792019347037485
-0.5427135678391961 :  0.5707376058041113
-0.5025125628140703 :  0.5668681983071342
-0.4623115577889445 :  0.5613059250302297
-0.42211055276381915 :  0.5552599758162031
-0.38190954773869334 :  0.5467956469165659
-0.341708542713568 :  0.5414752116082225
-0.3015075376884422 :  0.5339782345828296
-0.2613065326633164 :  0.5286577992744861
-0.22110552763819102 :  0.5216444981862153
-0.18090452261306522 :  0.5160822249093108
-0.14070351758793986 :  0.5081015719467956
-0.10050251256281406 :  0.505683192261185
-0.06030150753768826 :  0.5003627569528416
-0.0201005025125629 :  0.4957678355501814
0.020100502512562457 :  0.48996372430471585
0.06030150753768826 :  0.4834340991535671
0.10050251256281406 :  0.4785973397823458
0.14070351758793986 :  0.4720677146311971
0.18090452261306567 :  0.46432889963724305
0.22110552763819058 :  0.4592503022974607
0.2613065326633164 :  0.45102781136638453
0.3015075376884422 :  0.4442563482466747
0.341708542713568 :  0.43869407496977025
0.3819095477386938 :  0.4309552599758162
0.4221105527638196 :  0.4234582829504232
0.4623115577889445 :  0.41765417170495767
0.5025125628140703 :  0.4111245465538089
0.5427135678391961 :  0.4065296251511487
0.5829145728643219 :  0.4031438935912938
0.6231155778894477 :  0.3978234582829504
0.6633165829145726 :  0.39177750906892383
0.7035175879396984 :  0.385006045949214
0.7437185929648242 :  0.37920193470374847
0.78391959798995 :  0.3738814993954051
0.8241206030150758 :  0.3688029020556227
0.8643216080402008 :  0.36251511487303506
0.9045226130653266 :  0.35816203143893593
0.9447236180904524 :  0.3518742442563482
0.9849246231155782 :  0.3431680773881499
1.025125628140704 :  0.3383313180169287
1.0653266331658289 :  0.33252720677146314
1.1055276381909547 :  0.3264812575574365
1.1457286432160805 :  0.32091898428053206
1.1859296482412063 :  0.3151148730350665
1.226130653266332 :  0.309310761789601
1.266331658291457 :  0.3030229746070133
1.3065326633165828 :  0.29915356711003627
1.3467336683417086 :  0.29407496977025394
1.3869346733668344 :  0.29020556227327693
1.4271356783919602 :  0.2839177750906892
1.4673366834170851 :  0.28125755743651754
1.507537688442211 :  0.27762998790810156
1.5477386934673367 :  0.27303506650544135
1.5879396984924625 :  0.26577992744860945
1.6281407035175883 :  0.26070133010882707
1.6683417085427132 :  0.2544135429262394
1.708542713567839 :  0.2505441354292624
1.7487437185929648 :  0.24594921402660216
1.7889447236180906 :  0.24014510278113663
1.8291457286432165 :  0.23555018137847641
1.8693467336683414 :  0.23192261185006047
1.9095477386934672 :  0.22756952841596131
1.949748743718593 :  0.2229746070133011
1.9899497487437188 :  0.21983071342200725
2.0301507537688446 :  0.21523579201934703
2.0703517587939704 :  0.21136638452237
2.1105527638190953 :  0.20894800483675938
2.150753768844221 :  0.20580411124546555
2.190954773869347 :  0.20096735187424425
2.2311557788944727 :  0.19782345828295042
2.2713567839195985 :  0.1939540507859734
2.3115577889447234 :  0.19008464328899638
2.351758793969849 :  0.18742442563482467
2.391959798994975 :  0.18331318016928658
2.432160804020101 :  0.17920193470374848
2.4723618090452266 :  0.17412333736396615
2.5125628140703515 :  0.17073760580411124
2.5527638190954773 :  0.16638452237001208
2.592964824120603 :  0.16348246674727931
2.633165829145729 :  0.15864570737605804
2.6733668341708547 :  0.15501813784764207
2.7135678391959797 :  0.1523579201934704
2.7537688442211055 :  0.14993954050785974
2.7939698492462313 :  0.14703748488512697
2.834170854271357 :  0.1441354292623942
2.874371859296483 :  0.1422007255139057
2.914572864321608 :  0.1380894800483676
2.9547738693467336 :  0.135912938331318
2.9949748743718594 :  0.13228536880290206
3.035175879396985 :  0.12769044740024182
3.075376884422111 :  0.12357920193470374
3.115577889447236 :  0.12019347037484886
3.1557788944723617 :  0.11825876662636034
3.1959798994974875 :  0.11608222490931076
3.2361809045226133 :  0.11366384522370013
3.276381909547739 :  0.11197097944377267
3.316582914572864 :  0.1090689238210399
3.35678391959799 :  0.10713422007255138
3.3969849246231156 :  0.10423216444981862
3.4371859296482414 :  0.10205562273276904
3.4773869346733672 :  0.09794437726723096
3.517587939698492 :  0.09552599758162031
3.557788944723618 :  0.0935912938331318
3.5979899497487438 :  0.0902055622732769
3.6381909547738696 :  0.08827085852478839
3.6783919597989954 :  0.08730350665054414
3.7185929648241203 :  0.08440145102781137
3.758793969849246 :  0.08246674727932285
3.798994974874372 :  0.07932285368802902
3.8391959798994977 :  0.07666263603385731
3.8793969849246235 :  0.07569528415961306
3.9195979899497493 :  0.07182587666263604
3.959798994974874 :  0.06916565900846433
4.0 :  0.06723095525997581

In [55]:
train = utils.load_synthetic("recid_alt")["train"]
np.around(sigmoid(train.drop("priors_count", axis = 1).sum(axis = 1), )).astype(int).sum()/len(train)

0.05872063968015992

In [67]:
train = utils.load_adult()["train"]
np.around(sigmoid(train.drop("education", axis = 1).sum(axis = 1), 7)).astype(int).sum()/len(train)

0.12396857878407816